h2{
    font-size: 64px;
   
}
h3{
    font-size: 48px;
   
}

h4{
    font-size: 42px;
    
}
h5{
    font-size: 32px;
}
h6{
    font-size: 24px;
}
// 字體大小
.fz-42{
    font-size: 42px;
}
.fz-32{
    font-size: 32px;
}
.fz-48{
    font-size: 48px;
}

// 字重
.fw-medium{
    font-weight: 500;
}
.fw-bold{
    font-weight: 700;
}

// 字體
.ff-roboto{
    font-family: 'Roboto';
}
// 字體樣式
.fs-italic{
    font-style: italic;
}

.text-48-bold{
    font-size: 48px;
    font-weight: 700;
}
.font-italic{
    font-style: italic;
}

.family-roboto-500{
    font-family: 'Roboto';
    font-weight: 500;
}
.family-roboto{
    font-family: 'Roboto';
}
.weight-700{
    font-weight: 700;
}