$primary:#AA0601;
$primary-dark:#650300;
$bg-secondary:#FBF2F2;
$black-900:#000;
$black-500:#707070;
$white:#fff;
$shadow-color:rgba(0, 0, 0, 0.16);
$spacer:1rem;
$link-hover:rgba(227, 227, 227, 0.89);
$button-hover:rgba(143, 4, 0, 1);
$pagination-color:#555555;
$blog-text:#555555;












