
.blog{
    padding-top:96px;
    padding-bottom: 80px;
    .pagination{
        margin-top: 124px;
    }
}
.blog__nav{
    background-color: $primary-dark;

    .blog__nav__content{
        gap:0px 48px;
        a{
            padding: 13px 0px;
            font-size: 20px;
            color:$white;
            font-weight: 700;
            transition: all .3s;
            &:hover{
                color:$link-hover;
            }
        }
    }
}
.icon__search{
    font-size: 30px;
    color:$white;
    cursor: pointer;
    transition: all .3s;
    &:hover{
        color: $link-hover;
    }
}

.blog__item{
    gap:0px 24px;
    margin-bottom: 60px;
    .blog__img,.blog__main{
        width: calc((100% - 24px) / 2);
    }
    
    
}


.blog__main{
    position: relative;
    .item__content--title{
        h3{
            color:$primary-dark;
            font-weight: 400;
            font-size: 32px;
        }
    }
    .item__subTitle{
        margin-bottom: 16px;
        p{
            
            &:nth-child(1){
                font-size: 20px;

            }
        }
    }
    .item__content--text{
        font-size: 1.65vmin;
        color:$blog-text;
        .item__content--md{
            display: none;
        }
    }
    .blog__more{
        position: absolute;
        right: 0;
        bottom: 0;
        font-size: 3.2vmin;
        color:$primary-dark;
        font-weight: 900;
        font-family: 'Roboto', sans-serif;
        text-align: right;
        transition: all .3s;
        &:hover{
            color:$primary;
        }
    }
}
@media (max-width:992px) {
    .blog{
        .pagination{
            margin-top: 80px;
        }
    }
    .blog__main{
        .blog__more{
            display: none;
        }
        .item__content--text{
            .item__content--lg{
                display: none;
            }
            .item__content--md{
                display: block;
                .blog__more--md{
                    display: inline-block;
                }
            }
        }
        .item__content--title{
            h3{
               
                font-size:24px;
            }
        }

        .item__subTitle{
            margin-bottom: 4px;
            p{
                
                &:nth-child(1){
                    font-size: 16px;
    
                }
            }
        }
        .item__content--text{
            font-size: 16px;
        }
    }
}

@media (max-width:767px) {
    .blog{
        padding-top: 40px;
        padding-bottom: 64px;
        .pagination{
            margin-top: 64px;
        }
    }
    .blog__nav{
        display: none;
    }
    .blog__item{
        margin-bottom: 24px;
        flex-direction: column;
        .item__content--text{
            display: none;
        }
        .blog__img,.blog__main{
            width: 100%;
        }
        .blog__main{
            margin-top: 8px;
        }
    }
}

