


// optical product start

.optical{
    padding-top: 80px ;
    padding-bottom: 80px;

    h5{
        margin-bottom: 32px;
    }
}
.optical__product{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
    margin-bottom: 80px;

    li{
        width: calc((100% - (24px*3))/4);
        // margin-right: 24px;
        // &:nth-child(4n){
        //     margin-right: 0;
        // }
    }
}
.product__content{
    display: flex;
    justify-content: space-between;
    p{  
        font-size: 2.04vmin;
        // 因為到1024就很擠了
        &:nth-child(2){
            color: $primary;
            font-weight: 500;
        }
    }
}
.product__color{
    position: relative;
    height: 24px;

    &::before,&::after{
        content: "";
        position: absolute;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        background: $primary;
    }
    &::before{
        left: 0px;
        top: 0px;
        background-color: #5F3E2D;
    }
    &::after{
        left: 32px;
        top: 0;
        background-color: #B75929;
    }
}
// optical rwd start
@media (max-width:992px) {
    .optical__product{
        row-gap: 40px;
        li{
          width: calc((100% - (24px*1))/2);;
        //    &:nth-child(4n){
        //     margin-right: 0px;
        //    } 
        //   &:nth-child(2n){
        //     margin-right: 0px;
        //   }
        }
    }
    .product__content{
        p{
            font-size: 24px;
        }
    }
    
}
@media (max-width:767px) {
    .optical{
        padding-top: 40px;
        padding-bottom: 64px;
    }
    .optical__title{
        h4,h5{
            font-size: 24px;
        }
    }
    .optical__product{
        margin-bottom: 64px;
        li{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}

// optical product end






