.sunGlasses{
    padding-top: 80px;
    padding-bottom: 80px;
    @include phone{
        padding-top: 40px;
        padding-bottom: 64px;
    }
    h2{
        @include phone{
            font-size: 24px;
        }
    }
    h3{
        margin-bottom: 32px;
        @include phone{
            font-size: 24px;
        }
    }
}

.sunGlasses__product{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
    margin-bottom: 80px;
    @include pad{
        row-gap: 40px;
    }
    @include phone{
        row-gap: 24px;
        margin-bottom: 64px;
    }
    li{
        width: calc((100% - (24px*2))/3);
        @include pad{
            width: calc((100% - (24px*1))/2);
        }
        @include phone{
            width: 100%;
        }
    }
}

