.breadAndTag{
    margin-top: 24px;
    margin-bottom: 8px;
}
.breadCrumbs{
    gap: 0px 8px;
    li{
        &:nth-last-child(1){
            color:$primary;
        }
        
    }
}
.hashTag{
    gap: 0px 15px;
    li{
        color:$primary;
        font-size: 24px;
        
    }
}
.tag__list{
    gap:4px 24px;
    flex-wrap: wrap;
    li{
        display: flex;
        width: 100%;
        font-size: 24px;
        p{
            color:$primary;
            &:nth-child(1){
                margin-right: 16px;
            }
        }
    }
    
}
// aside start
aside{
    color:$primary;
    .icon__label{
        font-size: 38px;
        padding: 5px;
        margin-right: 8px;
    }
    h4{
        font-size: 32px;
    }
}
.article{
    margin-right: 24px;
    h2{
        font-size: 48px;
        font-weight: 400;
    }
    h3{
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 16px;
    }
}
.article__item{
    margin-bottom: 40px;
    color:$blog-text;
    img{
        margin-bottom: 8px;
    }
}
.article__footer{
    margin-bottom: 80px;
    margin-top: 40px;
    .article__share{
        gap:0px 16px;
        padding-bottom: 15px;
        border-bottom: 1px solid black;
        margin-bottom: 24px;
        img{
            width: 24px;
        }
    }
}
.nextPage{
    .icon__arrow--back{
        margin-right: 8px;
    }
    .icon__arrow--forward{
        margin-left: 8px;
    }
}
// aside end


@media (max-width:992px) {

    .article{
        h3{
            margin-bottom: 8px;
        }
    }
    .article__item{
        margin-bottom: 24px;
        img{
            margin-bottom: 16px;
        }
    }
    .breadAndTag{
        margin-top: 8px;
    }
    
}
@media (max-width:767px){
    .breadAndTag{
        margin-top: 16px;
        .breadCrumbs{
            margin-bottom: 8px;
        }
    }
    .hashTag{
        li{
            font-size: 16px;
        }
    }
    .article{
        margin-bottom: 64px;
        margin-right: 0;
        h2{
            font-size: 24px;
        }
        h3{
            font-size: 16px;
        }
    }
    .article__item{
        margin-bottom: 16px;
        img{
            margin-bottom: 8px;
        }
    }
    aside,.article__footer{
        display: none;
    }
   
}