// main{
//   min-height: 100%;
// }
.logo{
  a{
    display: block;
    width: 80px;
    height: 48.57px;
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    background-size: 100% ;
    text-decoration: none;
    overflow: hidden;
    // 文字縮排到圖片外
    text-indent: 101%;
    white-space: nowrap;
    padding: 16px 0px;
  }
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header{
  background-color:$primary;
}
.nav__content{
  display: flex;
  font-size: 20px;
  li{
      padding-right: 64px;
      &:nth-last-child(1){
          padding-right: 0px;
      }
    
  }
  .nav__link{
          color:$white;
          padding: 25px 0px; 
          transition: all .5s; 
          &:hover{
              color:$link-hover;
          }
  }
}
.btn__buger{
cursor: pointer;
width: 30px;
height: 20px;
background-color: $primary;
position: relative;
margin: 30px 0px ;
transition: all .5s;
display: none;

&::before,&::after{
  content:"";
  position: absolute;
  background-color:$white;
  width: 100%;
  height: 2px;
  transition: all .5s;
}

&::before{
  top:0;
  }
&::after{
  bottom: 0;
}

.btn__buger--middle{
  height: 2px;
  width: 100%;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background-color: $white;

}
.btn__buger--middle.open{
  display: none;
}

}

.btn__buger.open{
  &::before,&::after{
    top:50%;
    transform: translateY(-50%);
  
  }
}

.btn__buger.open::before{
transform: rotate(-45deg);
}
.btn__buger.open::after{
transform: rotate(45deg);
}

@media (max-width:767px) {

.btn__buger{
  display: block;
}

header{
  position: relative;
}
.nav__content{
  display: flex;
  position: absolute;
  top: -200%;
  z-index: 3;
  background-color: $primary;
  width: 100%;
  right: 0px;
  flex-wrap: wrap;
  transition: all .5s;
  
  li{
    width: 50%;
    padding-right: 0;
    text-align: center;
  }
  a{
    display: block;
  }
}
.nav__content.open{
  top: 100%;
}

}


// header end

// footer start
footer{
background-color:$primary;
}
.footer__content--top{
padding-top: 48px;
padding-bottom: 32px;
position: relative;

&::before{
  content:"";
  height: 1px;
  width: calc(100% - 72px );
  background-color:$white;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

}
.footer__menu{
margin-bottom: 35.98px;
  margin-top: 12.02px;
  gap: 0px 48px;
}


.menu__item{
a{
  color:$white;
  transition: .5s all;
  &:hover{
    color:$link-hover;
  }
}
}
.social__item{
img{
  width: 48px;
  margin-left: 32px;
}
.fb{
  margin-left: 0;
}
}


.contactInfo__item{

a{
  display: inline-block;
  color:$white;
  font-size: 36px;
}
}

.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 700,
'GRAD' 0,
'opsz' 48

}
.call{
font-size: 36px;
color:$white;
padding: 6px;
margin-right: 16px;
}
.mail{
font-size: 40px;
color:$white;
padding: 4px;
margin-right: 16px;
}
.copyRight{
color:$white;
margin-top: 32px;
padding-bottom: 40px;
}
.private{
a{
  margin-left:48px;
  color:$white;
  transition: all .5s;
  &:hover{
    color:$link-hover;
  }
}
}

@media (max-width:768px) {
.social__item{
  img{
    width: 40px;
    margin-left: 16px;
  }
}

}
@media (max-width:767px) {
.social__item{
  img{
    width: 24px;
    margin-left: 8px;
  }
}
.footer__content--top{
  padding-top: 24px;
  padding-bottom: 24px;

  &::before{
    width: calc(100% - 27px );;
  }
}

.footer__menu{
  display: none;
}
.contactInfo__item
a{
  font-size: 16px;
}
.call{
  font-size: 18px;
  padding: 3px;
  margin-right: 11px;
}
.mail{
  font-size: 20px;
  margin-right: 8px;

}

.copyRight{
  flex-direction: column;
  margin-top: 16px;
  padding-bottom: 24px;
}
.private{
  flex-direction: column;
  a{
    margin-left: 0px;
    margin-top: 8px;
  }
}
}