$primary:#AA0601;
$primary-dark:#650300;
$bg-secondary:#FBF2F2;
$black-900:#000;
$black-500:#707070;
$white:#fff;
$shadow-color:rgba(0, 0, 0, 0.16);
$spacer:1rem;
$link-hover:rgba(227, 227, 227, 0.89);
$button-hover:rgba(143, 4, 0, 1);


body{
    font-family: 'Noto Sans TC', 'Roboto' , -apple-system, BlinkMacSystemFont,  "PingFang TC", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color:$black-900;

}

.container{
    max-width: 1368px;
    margin: 0 auto;
    padding: 0  36px;
}

.container__contact{
    max-width: 708px;

}

h2{
    font-size: 64px;
    font-weight: 700;
   
}
h3{
    font-size: 48px;
    font-weight: 700;
   
}

h4{
    font-size: 42px;
    font-weight: 500;
    
}
h5{
    font-size: 24px;
    font-weight: 700;
}
.font-italic{
    font-style: italic;
}
.d-flex{
    display: flex;
}
.jcsb{
    justify-content: space-between;
}
.align-center{
align-items: center;
}
.text-center{
    text-align: center;
}

.mb-1{
    margin-bottom: $spacer*.25;
}
.mb-2{
    margin-bottom: $spacer*0.5;
}
.mb-3{
    margin-bottom: $spacer;
}
.mb-4{
    margin-bottom: $spacer*1.5;
}
.mb-5{
    margin-bottom: $spacer*2;
}
.mb-6{
    margin-bottom: $spacer*3;
}
.mb-7{
    margin-bottom: $spacer*3.5;
}

.btn-primary{
    cursor: pointer;
    color:$white;
    background-color: $primary;
    border: none;
    padding: 0;
}

.input-primary{
    border: 1px solid black;
    padding: 6px 12px;
}
::placeholder{
    color:rgba(0, 0, 0, 0.20);
}