/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: block;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Noto Sans TC', 'Roboto' , -apple-system, BlinkMacSystemFont,  "PingFang TC", "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 32px;
}

h6 {
  font-size: 24px;
}

.fz-42 {
  font-size: 42px;
}

.fz-32 {
  font-size: 32px;
}

.fz-48 {
  font-size: 48px;
}

.fw-medium {
  font-weight: 500;
}

.fw-bold {
  font-weight: 700;
}

.ff-roboto {
  font-family: 'Roboto';
}

.fs-italic {
  font-style: italic;
}

.text-48-bold {
  font-size: 48px;
  font-weight: 700;
}

.font-italic {
  font-style: italic;
}

.family-roboto-500 {
  font-family: 'Roboto';
  font-weight: 500;
}

.family-roboto {
  font-family: 'Roboto';
}

.weight-700 {
  font-weight: 700;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0  12px;
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 13px;
    padding-right: 14px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: 3rem;
}

.mb-7 {
  margin-bottom: 3.5rem;
}

.btn-primary {
  cursor: pointer;
  color: #fff;
  background-color: #AA0601;
  border: none;
  padding: 0;
}

.input-primary {
  border: 1px solid black;
  padding: 6px 12px;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.2);
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.frames__menu li {
  position: relative;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #DCDCDC;
}

.frames__menu li:nth-child(1) {
  border-left: 1px solid #DCDCDC;
}

.frames__menu li:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background: #AA0601;
}

.frames__menu a {
  color: #000;
  font-size: 32px;
  padding: 24px 0px;
}

.frames__menu--sunGlasses li {
  position: relative;
  width: 33.33%;
  text-align: center;
  border-right: 1px solid #DCDCDC;
}

.frames__menu--sunGlasses li:nth-child(2) {
  border-left: 1px solid #DCDCDC;
}

.frames__menu--sunGlasses li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: 0;
  left: 0;
  background: #AA0601;
}

.frames__menu--sunGlasses a {
  color: #000;
  font-size: 32px;
  padding: 24px 0px;
}

@media (max-width: 992px) {
  .frames__menu a, .frames__menu--sunGlasses a {
    font-size: 24px;
    padding: 16px 0px;
  }
}

@media (max-width: 767px) {
  .frames__menu, .frames__menu--sunGlasses {
    padding: 0 0;
  }
  .frames__menu a, .frames__menu--sunGlasses a {
    font-size: 16px;
  }
}

.frames__header img {
  width: 50%;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination li {
  border-right: 1px solid #555555;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
}

.pagination li a {
  padding: 12px 16px;
  font-size: 18px;
  color: #555555;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.pagination li a:hover {
  background-color: #000;
  color: #fff;
}

.pagination li:nth-child(1) {
  border-left: 1px solid #555555;
  font-size: 19px;
}

.pagination li:nth-child(1) a {
  padding: 11px 12px;
}

.pagination li:nth-last-child(1) {
  font-size: 19px;
  background-color: #F2F2F2;
}

.pagination li:nth-last-child(1) a {
  padding: 11px 12px;
}

.pagination li:nth-child(3) a {
  background: #000;
  color: #fff;
}

@media (max-width: 767px) {
  .pagination li a {
    padding: 12px 15px;
    font-size: 3vmin;
  }
  .pagination li:nth-child(1) a {
    padding: 11px 14px 12px 13px;
  }
  .pagination li:nth-last-child(1) a {
    padding: 11px 14px 12px 13px;
  }
  .pagination li:nth-child(3) a {
    background: #000;
    color: #fff;
  }
}

.blog__nav {
  background-color: #650300;
}

.blog__nav .blog__nav__content {
  gap: 0px 48px;
}

.blog__nav .blog__nav__content a {
  padding: 13px 0px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog__nav .blog__nav__content a:hover {
  color: rgba(227, 227, 227, 0.89);
}

@media (max-width: 767px) {
  .blog__nav {
    display: none;
  }
}

.blog__nav--inner {
  background-color: #650300;
}

.blog__nav--inner .blog__nav__content {
  gap: 0px 48px;
}

.blog__nav--inner .blog__nav__content a {
  padding: 13px 0px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog__nav--inner .blog__nav__content a:hover {
  color: rgba(227, 227, 227, 0.89);
}

@media (max-width: 767px) {
  .blog__nav--inner .blog__nav__wrapper {
    display: inherit;
  }
  .blog__nav--inner .blog__nav__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0px 24px;
    text-align: center;
  }
  .blog__nav--inner .blog__nav__content li {
    width: 100%;
  }
  .blog__nav--inner .icon__search {
    display: none;
  }
}

.content-title {
  font-size: 48px;
  font-weight: 700;
  padding-left: 16px;
  position: relative;
  margin-bottom: 32px;
}

.content-title::after {
  content: "";
  height: 72px;
  width: 8px;
  position: absolute;
  top: 0;
  left: -4px;
  background: #AA0601;
}

@media (max-width: 767px) {
  .content-title {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .content-title::after {
    height: 36px;
  }
}

.logo a {
  display: block;
  width: 80px;
  height: 48.57px;
  background-image: url(../images/logo-white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  text-decoration: none;
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  padding: 16px 0px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  background-color: #AA0601;
}

.nav__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
}

.nav__content li {
  padding-right: 64px;
}

.nav__content li:nth-last-child(1) {
  padding-right: 0px;
}

.nav__content .nav__link {
  color: #fff;
  padding: 25px 0px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav__content .nav__link:hover {
  color: rgba(227, 227, 227, 0.89);
}

.btn__buger {
  cursor: pointer;
  width: 30px;
  height: 20px;
  background-color: #AA0601;
  position: relative;
  margin: 30px 0px;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: none;
}

.btn__buger::before, .btn__buger::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.btn__buger::before {
  top: 0;
}

.btn__buger::after {
  bottom: 0;
}

.btn__buger .btn__buger--middle {
  height: 2px;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

.btn__buger .btn__buger--middle.open {
  display: none;
}

.btn__buger.open::before, .btn__buger.open::after {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn__buger.open::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.btn__buger.open::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 767px) {
  .btn__buger {
    display: block;
  }
  header {
    position: relative;
  }
  .nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -200%;
    z-index: 3;
    background-color: #AA0601;
    width: 100%;
    right: 0px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .nav__content li {
    width: 50%;
    padding-right: 0;
    text-align: center;
  }
  .nav__content a {
    display: block;
  }
  .nav__content.open {
    top: 100%;
  }
}

footer {
  background-color: #AA0601;
}

.footer__content--top {
  padding-top: 48px;
  padding-bottom: 32px;
  position: relative;
}

.footer__content--top::before {
  content: "";
  height: 1px;
  width: calc(100% - 72px);
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.footer__menu {
  margin-bottom: 35.98px;
  margin-top: 12.02px;
  gap: 0px 48px;
}

.menu__item a {
  color: #fff;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.menu__item a:hover {
  color: rgba(227, 227, 227, 0.89);
}

.social__item img {
  width: 48px;
  margin-left: 32px;
}

.social__item .fb {
  margin-left: 0;
}

.contactInfo__item a {
  display: inline-block;
  color: #fff;
  font-size: 36px;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 48;
}

.call {
  font-size: 36px;
  color: #fff;
  padding: 6px;
  margin-right: 16px;
}

.mail {
  font-size: 40px;
  color: #fff;
  padding: 4px;
  margin-right: 16px;
}

.copyRight {
  color: #fff;
  margin-top: 32px;
  padding-bottom: 40px;
}

.private a {
  margin-left: 48px;
  color: #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.private a:hover {
  color: rgba(227, 227, 227, 0.89);
}

@media (max-width: 768px) {
  .social__item img {
    width: 40px;
    margin-left: 16px;
  }
}

@media (max-width: 767px) {
  .social__item img {
    width: 24px;
    margin-left: 8px;
  }
  .footer__content--top {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .footer__content--top::before {
    width: calc(100% - 27px);
  }
  .footer__menu {
    display: none;
  }
  .contactInfo__item
a {
    font-size: 16px;
  }
  .call {
    font-size: 18px;
    padding: 3px;
    margin-right: 11px;
  }
  .mail {
    font-size: 20px;
    margin-right: 8px;
  }
  .copyRight {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 16px;
    padding-bottom: 24px;
  }
  .private {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .private a {
    margin-left: 0px;
    margin-top: 8px;
  }
}

.banner {
  background-image: url("../images/home-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 787px;
}

@media (max-width: 767px) {
  .banner {
    background-image: url("../images/home-header-sm.png");
    background-size: 100%;
    padding-bottom: 94.69697%;
    position: relative;
    height: 0;
  }
}

.banner__text {
  color: #650300;
  text-align: right;
  padding-top: 296px;
}

@media (max-width: 767px) {
  .banner__text {
    position: absolute;
    top: 36.3636%;
    right: 0;
    padding-top: 0px;
  }
}

.banner__text .banner__subTitle {
  font-size: 36px;
}

@media (max-width: 767px) {
  .banner__text .banner__subTitle {
    font-size: 3.5vmin;
  }
}

.banner__text .banner__title {
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .banner__text .banner__title {
    font-size: 6.5vmin;
  }
}

.banner__text .btn__buy {
  padding: 6px 12px;
  font-size: 20px;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: inline-block;
}

.banner__text .btn__buy:hover {
  background-color: #8f0400;
}

.pro {
  background-color: #FBF2F2;
  padding: 80px 0px;
  color: #650300;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .pro {
    padding: 40px 0;
    margin-bottom: 40px;
  }
}

.pro .pro__title {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .pro .pro__title {
    font-size: 24px;
  }
}

.pro__list {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .pro__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pro__item {
  width: calc((100% - (24px*3)) / 4);
}

@media (max-width: 992px) {
  .pro__item {
    width: calc((100% - (24px*1)) / 2);
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .pro__item {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.pro__item img {
  width: 100px;
  padding: 8px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.pro__item__title {
  font-size: 24px;
  font-weight: 700;
  color: #650300;
  margin-bottom: 8px;
}

.pro__item__text {
  color: #000;
}

.pro__item h5 {
  margin-bottom: 8px;
}

.classic {
  color: #AA0601;
  margin-bottom: 80px;
}

.classic .classic__title {
  margin-bottom: 48px;
  color: #650300;
}

@media (max-width: 767px) {
  .classic .classic__title {
    font-size: 6.5vmin;
    margin-bottom: 24px;
  }
}

.classic__item {
  width: calc((100% - (24px*2)) / 3);
}

@media (max-width: 992px) {
  .classic__item {
    margin-bottom: 24px;
    width: 336px;
  }
}

@media (max-width: 767px) {
  .classic__item {
    margin-bottom: 40px;
    width: 100%;
  }
}

.classic__item p {
  text-align: center;
  margin-top: 8px;
  font-style: italic;
  font-size: 4.5vmin;
}

@media (max-width: 992px) {
  .classic__item p {
    font-size: 48px;
  }
}

@media (max-width: 992px) {
  .classic__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.coBranding {
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 80px;
}

@media (max-width: 992px) {
  .coBranding {
    background-image: url(../images/index-bg-sm.png);
  }
}

.coBranding .coBranding__title {
  padding-top: 80px;
  padding-bottom: 48px;
  color: #fff;
}

@media (max-width: 767px) {
  .coBranding .coBranding__title {
    font-size: 6.5vmin;
  }
}

.coBranding__item p {
  background-color: #fff;
  color: #AA0601;
  padding: 8px 0px;
  text-align: center;
  font-style: italic;
}

.coBranding__item .coBranding__img--sm {
  display: none;
}

@media (max-width: 767px) {
  .coBranding__item .coBranding__img--sm {
    display: block;
  }
}

@media (max-width: 767px) {
  .coBranding__item .coBranding__img--lg {
    display: none;
  }
}

@media (max-width: 992px) {
  .coBranding__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .coBranding__list li:nth-child(1) {
    margin-bottom: 24px;
  }
}

.reCommend {
  padding: 80px 0px;
}

@media (max-width: 767px) {
  .reCommend {
    padding: 40px 0px;
  }
}

.reCommend__title {
  margin-bottom: 48px;
  color: #650300;
}

@media (max-width: 767px) {
  .reCommend__title {
    font-size: 6.5vmin;
    margin-bottom: 24px;
  }
}

.reCommend__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reCommend__item {
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  border: 1px solid #DEE2E6;
  width: calc((100% - (24px*3)) / 4);
  position: relative;
}

@media (max-width: 992px) {
  .reCommend__item {
    width: calc((100% - (24px*1)) / 2);
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .reCommend__item {
    width: 100%;
    margin-bottom: 16px;
  }
}

.reCommend__item img {
  width: 100%;
}

.reCommend__content {
  padding: 16px;
}

.reCommend__content p:nth-child(1) {
  margin-bottom: 8px;
  font-weight: 500;
}

.reCommend__content p:nth-child(2) {
  margin-bottom: 93px;
}

.reCommend__content p:nth-child(3) {
  font-size: 14px;
  color: #707070;
  position: absolute;
  bottom: 16px;
}

.container__contact {
  width: 33%;
}

@media (max-width: 992px) {
  .container__contact {
    width: 75%;
  }
}

@media (max-width: 767px) {
  .container__contact {
    width: 100%;
  }
}

.contact {
  background-color: #FBF2F2;
  padding: 80px 0;
}

@media (max-width: 767px) {
  .contact {
    padding: 40px 0;
  }
}

.contact__title {
  color: #650300;
  margin-bottom: 48px;
}

@media (max-width: 767px) {
  .contact__title {
    font-size: 6.5vmin;
    margin-bottom: 24px;
  }
}

.contact__input {
  display: block;
  background-color: #FBF2F2;
  width: 100%;
  font-size: 16px;
  margin-bottom: 16px;
}

.contact__label {
  display: block;
  margin-bottom: 8px;
}

.contact__text {
  margin-bottom: 24px;
  font-size: 20px;
}

@media (max-width: 992px) {
  .contact__text {
    font-size: 16px;
  }
}

.contact__btn {
  padding: 16px 0px;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  font-size: 16px;
  width: 65.408805%;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media (max-width: 767px) {
  .contact__btn {
    width: 100%;
  }
}

.contact__btn:hover {
  background-color: #8f0400;
}

textarea {
  resize: none;
  overflow: hidden;
}

.contact__textarea {
  display: block;
  background-color: #FBF2F2;
  width: 100%;
  height: 136px;
  padding: 6px 12px;
  margin-bottom: 16px;
  border: 1px solid #000;
}

input[type=checkbox] {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  background-color: #FBF2F2;
}

.optical {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .optical {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .optical h2 {
    font-size: 24px;
  }
}

.optical h3 {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .optical h3 {
    font-size: 24px;
  }
}

.optical__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 24px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .optical__product {
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .optical__product {
    margin-bottom: 64px;
  }
}

.optical__product li {
  width: calc((100% - (24px*3))/4);
}

@media (max-width: 992px) {
  .optical__product li {
    width: calc((100% - (24px*1))/2);
  }
}

@media (max-width: 767px) {
  .optical__product li {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .optical__product li img {
    width: 100%;
  }
}

.product__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product__content p {
  font-size: 2.04vmin;
}

.product__content p:nth-child(2) {
  color: #AA0601;
  font-weight: 500;
}

@media (max-width: 992px) {
  .product__content p {
    font-size: 24px;
  }
}

.product__color {
  position: relative;
  height: 24px;
}

.product__color::before, .product__color::after {
  content: "";
  position: absolute;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  background: #AA0601;
}

.product__color::before {
  left: 0px;
  top: 0px;
  background-color: #5F3E2D;
}

.product__color::after {
  left: 32px;
  top: 0;
  background-color: #B75929;
}

.sunGlasses {
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .sunGlasses {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}

@media (max-width: 767px) {
  .sunGlasses h2 {
    font-size: 24px;
  }
}

.sunGlasses h3 {
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .sunGlasses h3 {
    font-size: 24px;
  }
}

.sunGlasses__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 24px;
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .sunGlasses__product {
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .sunGlasses__product {
    row-gap: 24px;
    margin-bottom: 64px;
  }
}

.sunGlasses__product li {
  width: calc((100% - (24px*2))/3);
}

@media (max-width: 992px) {
  .sunGlasses__product li {
    width: calc((100% - (24px*1))/2);
  }
}

@media (max-width: 767px) {
  .sunGlasses__product li {
    width: 100%;
  }
}

.store {
  padding-top: 96px;
  padding-bottom: 80px;
}

@media (max-width: 767px) {
  .store {
    padding-top: 40px;
    padding-bottom: 64px;
  }
}

.store__item {
  width: calc((100% - (24px*2)) / 3);
}

@media (max-width: 992px) {
  .store__item {
    width: calc((100% - (24px*1)) / 2);
  }
}

@media (max-width: 767px) {
  .store__item {
    width: 100%;
  }
}

.store__item .store__details {
  display: block;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 19px;
  padding: 16px 0px;
}

.city__title {
  margin-right: 16px;
  display: block;
}

@media (max-width: 767px) {
  .city__title {
    margin-right: 8px;
  }
}

.store__select {
  font-size: 18px;
  padding: 6px 12px;
  width: 304px;
  border: 1px solid #CED4DA;
  color: #495057;
}

@media (max-width: 767px) {
  .store__select {
    width: 75.310345%;
  }
}

.city__form {
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .city__form {
    margin-bottom: 24px;
  }
}

.store__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 48px 24px;
}

@media (max-width: 992px) {
  .store__list {
    row-gap: 24px;
  }
}

.store__name {
  padding: 7px 23px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.store__info {
  padding: 16px 24px;
  border: 1px solid rgba(0, 0, 0, 0.16);
}

.store__info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  margin-bottom: 8px;
}

.store__info li:nth-last-child(1) {
  margin-bottom: 0px;
}

.store__info .call-store {
  font-size: 18px;
  padding: 3px;
  margin-right: 8px;
}

.store__info .time {
  font-size: 20px;
  padding: 2px;
  margin-right: 8px;
}

.store__info .location {
  font-size: 20px;
  padding: 6px 2px;
  margin-right: 8px;
}

.branch {
  gap: 0px 24px;
}

@media (max-width: 992px) {
  .branch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px 0px;
  }
}

.branch .store__item {
  width: initial;
}

@media (max-width: 992px) {
  .branch .store__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px 24px;
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .branch .store__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0px;
  }
}

@media (max-width: 992px) and (max-width: 992px) {
  .branch .store__item img {
    width: calc( (100% - 24px) / 2);
  }
}

@media (max-width: 992px) and (max-width: 767px) {
  .branch .store__item img {
    width: 100%;
  }
}

.faq {
  padding-top: 96px;
  padding-bottom: 80px;
}

.faq h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.faq h4 {
  font-size: 20px;
  font-weight: 700;
}

.faq__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px 0px;
}

.faq__list .faq__item {
  width: 856px;
}

@media (max-width: 992px) {
  .faq__list .faq__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .faq {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .faq__list {
    gap: 24px 0px;
  }
}

.blog {
  padding-top: 96px;
  padding-bottom: 80px;
}

.blog .pagination {
  margin-top: 124px;
}

.blog__nav {
  background-color: #650300;
}

.blog__nav .blog__nav__content {
  gap: 0px 48px;
}

.blog__nav .blog__nav__content a {
  padding: 13px 0px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog__nav .blog__nav__content a:hover {
  color: rgba(227, 227, 227, 0.89);
}

.icon__search {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.icon__search:hover {
  color: rgba(227, 227, 227, 0.89);
}

.blog__item {
  gap: 0px 24px;
  margin-bottom: 60px;
}

.blog__item .blog__img, .blog__item .blog__main {
  width: calc((100% - 24px) / 2);
}

.blog__main {
  position: relative;
}

.blog__main .item__content--title h3 {
  color: #650300;
  font-weight: 400;
  font-size: 32px;
}

.blog__main .item__subTitle {
  margin-bottom: 16px;
}

.blog__main .item__subTitle p:nth-child(1) {
  font-size: 20px;
}

.blog__main .item__content--text {
  font-size: 1.65vmin;
  color: #555555;
}

.blog__main .item__content--text .item__content--md {
  display: none;
}

.blog__main .blog__more {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 3.2vmin;
  color: #650300;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  text-align: right;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.blog__main .blog__more:hover {
  color: #AA0601;
}

@media (max-width: 992px) {
  .blog .pagination {
    margin-top: 80px;
  }
  .blog__main .blog__more {
    display: none;
  }
  .blog__main .item__content--text .item__content--lg {
    display: none;
  }
  .blog__main .item__content--text .item__content--md {
    display: block;
  }
  .blog__main .item__content--text .item__content--md .blog__more--md {
    display: inline-block;
  }
  .blog__main .item__content--title h3 {
    font-size: 24px;
  }
  .blog__main .item__subTitle {
    margin-bottom: 4px;
  }
  .blog__main .item__subTitle p:nth-child(1) {
    font-size: 16px;
  }
  .blog__main .item__content--text {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .blog {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  .blog .pagination {
    margin-top: 64px;
  }
  .blog__nav {
    display: none;
  }
  .blog__item {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog__item .item__content--text {
    display: none;
  }
  .blog__item .blog__img, .blog__item .blog__main {
    width: 100%;
  }
  .blog__item .blog__main {
    margin-top: 8px;
  }
}

.breadAndTag {
  margin-top: 24px;
  margin-bottom: 8px;
}

.breadCrumbs {
  gap: 0px 8px;
}

.breadCrumbs li:nth-last-child(1) {
  color: #AA0601;
}

.hashTag {
  gap: 0px 15px;
}

.hashTag li {
  color: #AA0601;
  font-size: 24px;
}

.tag__list {
  gap: 4px 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tag__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 24px;
}

.tag__list li p {
  color: #AA0601;
}

.tag__list li p:nth-child(1) {
  margin-right: 16px;
}

aside {
  color: #AA0601;
}

aside .icon__label {
  font-size: 38px;
  padding: 5px;
  margin-right: 8px;
}

aside h4 {
  font-size: 32px;
}

.article {
  margin-right: 24px;
}

.article h2 {
  font-size: 48px;
  font-weight: 400;
}

.article h3 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.article__item {
  margin-bottom: 40px;
  color: #555555;
}

.article__item img {
  margin-bottom: 8px;
}

.article__footer {
  margin-bottom: 80px;
  margin-top: 40px;
}

.article__footer .article__share {
  gap: 0px 16px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
  margin-bottom: 24px;
}

.article__footer .article__share img {
  width: 24px;
}

.nextPage .icon__arrow--back {
  margin-right: 8px;
}

.nextPage .icon__arrow--forward {
  margin-left: 8px;
}

@media (max-width: 992px) {
  .article h3 {
    margin-bottom: 8px;
  }
  .article__item {
    margin-bottom: 24px;
  }
  .article__item img {
    margin-bottom: 16px;
  }
  .breadAndTag {
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .breadAndTag {
    margin-top: 16px;
  }
  .breadAndTag .breadCrumbs {
    margin-bottom: 8px;
  }
  .hashTag li {
    font-size: 16px;
  }
  .article {
    margin-bottom: 64px;
    margin-right: 0;
  }
  .article h2 {
    font-size: 24px;
  }
  .article h3 {
    font-size: 16px;
  }
  .article__item {
    margin-bottom: 16px;
  }
  .article__item img {
    margin-bottom: 8px;
  }
  aside, .article__footer {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */